body
{
    background-color: rgb(248, 209, 225);
}
h1
{
    color: rgb(209, 4, 147);
    font-size: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
