body
{
    background-color: pink;
}
h1
{   color:red;
    text-align: center;
    font-style: 300%;
    text-decoration: underline;
    font-weight: bolder;
}
h2
{
    color:royalblue;
    font-size: small;
    font-weight: bolder;
    text-align: center;
}
p
{
    font-style: italic;
}
#l1
{
    color:salmon;
}
.l2
{   color: crimson;
    text-decoration: underline;
}