body
{
    background-color: rgb(227, 185, 248);
}
h1
{   text-align: center;
    
    color: rgb(219, 19, 219);
    font-weight: bolder;
    font-style:normal;
}
h2
{   color: royalblue;
    font-size: medium;
    text-align: center;
}
h4
{   color: rgb(146, 95, 248);
    font-size: larger;
    text-decoration: underline;
    text-align:center;
}
p
{
    text-align:center;
    color: rgb(196, 20, 196);
}
#l1
{
    color: red;
}
#l2
{
    color: blueviolet;
}
.l3
{
    color: crimson;
}