body
{
    background-color: rgb(255, 227, 227);
}
h1
{
    color: crimson;
    text-align: center;
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th
{
    color: salmon;
    font-size: large;
    background-color: rgb(239, 214, 247);
}
td
{
    color: red;
}
#l1
{
    background-color:rgb(152, 255, 183);
}
#l2
{
    background-color:rgb(250, 136, 193);

}
#l3
{
    background-color:rgb(205, 151, 255);
}
#l4
{
    background-color:rgb(39, 250, 222);
}
#l5
{
    background-color:rgb(250, 220, 136);

}
#l6
{
    background-color:rgb(250, 220, 136);
}
#l7
{
    background-color:rgb(39, 250, 222);
}
#l8
{
    background-color:rgb(255, 152, 152);

}
#l9
{
    background-color:rgb(152, 255, 183);
}
#l10
{
    background-color:rgb(236, 185, 252);
}
#l11
{
    background-color:rgb(250, 136, 151);

}
#l12
{
    background-color:rgb(248, 172, 121);
}
#l13
{
    background-color:rgb(117, 227, 255);
}
#l14
{
    background-color:rgb(176, 208, 255);

}
#l15
{
    background-color:rgb(248, 108, 206);
}
#l16
{
    background-color:rgb(146, 185, 243);

}
#l17
{
    background-color:rgb(255, 241, 132);
}
#l18
{
    background-color:rgb(164, 255, 217);

}
#l19
{
    background-color:rgb(255, 206, 213);
}
